<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../Assets/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon", href="../Imagenes/book.png">
    <title>La lechera y el cántaro</title>  
</head>
<body>
<h1>La lechera y el cántaro</h1>
<h3>Fabula de Esopo</h3>
<img src="../Imagenes/Fabula.jpg">
<h5> Figura 1 La lechera y el cantaro. <br> 
    Tomado de: <a class="link" href="https://www.pinterest.es/pin/615796949026809535/">https://www.pinterest.es/pin/615796949026809535/</a>
</h5>
<p>Había una vez una joven lechera que se dirigía al mercado del pueblo con un 
    cántaro lleno de leche para vender. Mientras caminaba, se imaginaba todo lo 
    que podría hacer con el dinero que recibiría por su venta. <br> <br>

    “Cuando me paguen”, pensó la joven, “compraré algunas gallinas. Éstas pondrán 
    muchos huevos, los cuales venderé en el mercado. Con el dinero que reciba, 
    compraré un vestido y zapatos elegantes. Luego, iré a la feria y todos los 
    chicos querrán acercarse a hablar conmigo debido a lo hermosa que me veré”.</p>
<h2>Esta sencilla historia nos cuenta con pocas palabras que aunque está bien 
    soñar y pensar en tener cosas que no tenemos, pero si deseamos demasiadas 
    podemos quedarnos sin nada.</h3>
<p><a class="link" href="https://educadesdecasa.com/la-lechera-y-su-cantaro/" target="_blank ">Fabula completa.</a></p>
<ul>
    Otras Fabulas de Esopo
    <li>La liebre y la tortuga</li>
    <li>La cigarra y la hormiga</li>
    <li>El leon y el raton</li>
    <li>Las moscas</li>
    <li>El asno y el leon</li>
</ul>
<table>
    <tr>
        <th>Autor</th>
        <th>Fábulas</th>
    </tr>
    <tr>
        <td>Rafael Pombo</td>
        <td>Penacuajo paseador <br>La pobre viejecita</td>
    </tr>
    <tr>
        <td>Jean La fontaine</td>
        <td>El molinero <br>El zorro y el cuervo</td>
    </tr>
    <tr>
        <td>Tomas de Iriate</td>
        <td>El burro flautista <br>La mona</td>
    </tr>
    <tr>
        <td>Rafael Garcia Goyena</td>
        <td>La araña y el mosquito <br>El guarda y el loro</td>
    </tr>
</table>
</body>