<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<link rel="icon", href="../Imagenes/bxs-calendar.svg">
<title>
Horario de clases
</title>
</head>
<body>
    <h1><center>Horario de clases</center></h1>
<center>
    <table border="10">
    
        <caption> Mi horario de clases </caption>
            <tr>
                <th><em>Hora</em></th>
                <th><em>Lunes</em></th>
                <th><em>Martes</em></th>
                <th><em>Miercoles</em></th>
                <th><em>Jueves</em></th>
                <th><em>Viernes</em></th>
                <th><em>Sabado</em></th>
            </tr>
            <tr>
                <td>7:00am</td>
                <td rowspan="4"><center>Libre</center></td>
                <td rowspan="3"><center>Algebra Lineal</center></td>
                <td rowspan="4"><center>Libre</center></td>
                <td rowspan="3"><center>Algebra Lineal</center></td>
                <td rowspan="8"><center>Libre</center></td>
                <td rowspan="22"><center>Libre</center></td>
            </tr>
            <tr>
                <td>7:30am</td>
            </tr>
            <tr>
                <td>8:00am</td>
            </tr>
            <tr>
                <td>8:30am</td>
                <td rowspan="20"><center>Libre</center></td>
                <td rowspan="9"><center>Libre</center></td>
            </tr>
            <tr>
                <td>9:00am</td>
                <td rowspan="3"><center>Analisis Real</center></td>
                <td rowspan="3"><center>Analisis Real</center></td>
            </tr>
            <tr>
                <td>9:30am</td>
            </tr>
            <tr>
                <td>10:00am</td>
            </tr>
            <tr>
                <td>10:30am</td>
                <td rowspan="16"><center>Libre</center></td>
                <td><center>Libre</center></td>
            </tr>
            <tr>
                <td>11:00am</td>
                <td rowspan="4"><center>Desarrollo Web</center></td>
                <td rowspan="4"><center>Desarrollo Web</center></td>
            </tr>
            <tr>
                <td>11:30am</td>
            </tr>
            <tr>
                <td>12:00pm</td>
            </tr>
            <tr>
                <td>12:30pm</td>
            </tr>
            <tr>
                <td>1:00pm</td>
                <td rowspan="4"><center>Libre</center></td>
                <td rowspan="4"><center>Ajedrez</center></td>
                <td rowspan="4"><center>Libre</center></td>
            </tr>
            <tr>
                <td>1:30pm</td>
            </tr>
            <tr>
                <td>2:00pm</td>
            </tr>
            <tr>
                <td>2:30pm</td>
            </tr>
            <tr>
                <td>3:00pm</td>
                <td rowspan="3"><center>Proba 1</center></td>
                <td rowspan="6"><center>Evolutivamente (Mutis)</center></td>
                <td rowspan="3"><center>Proba 1</center></td>
            </tr>
            <tr>
                <td>3:30pm</td>
            </tr>
            <tr>
                <td>4:00pm</td>
            </tr>
            <tr>
                <td>4:30pm</td>
                <td rowspan="3"><center>Libre</center></td>
                <td rowspan="3"><center>Libre</center></td>
            </tr>
            <tr>
                <td>5:00pm</td>
            </tr>
            <tr>
                <td>5:30pm</td>
            </tr>
    
    </table>
</center>
    <h1><center>Otras paginas:</center></h1>
    <h2><a href="../Inicio.html">Inicio</a></h2>
    <h2><a href="../Views/Pagina 2 (Star Wars).html" target="_blank">Star Wars</a></h2>
    <h2><a href="../Views/Pagina 1 (Fotos).html" target="_blank">Fotos</a></h2>

</body>
