<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="Fotos Daniel Fandiño" content="Fotografia">
    <link rel="icon", href="../Imagenes/bxs-camera.svg">
    <title>
        Pagina fotos
    </title>
    <style>
        body{
            background-color: black;
        }
    </style>
</head>
<body>
    <h1 style="color: gold;"><center>Fotos</center></h1>
    <p style="color: white;">
        Esta página muestra 10 de las mejores fotos tomadas por mi. 
        Estas fotos fueron seleccionadas por su calidad técnica, su composición 
        y su impacto emocional.
    </p><p style="color: white;">
        Las fotos cubren una variedad de temas, desde paisajes y naturaleza hasta 
        detalles macro y fotos nocturnas. Cada foto está acompañada de una breve 
        descripción que proporciona más información sobre la imagen.
    </p><p style="color: white;">
        Acontinuacion esta la lista de las fotos de la mejor a la peor con su respectivo nombre:
    </p>
    <br></br>
    <ol type="I" style="color: palegoldenrod;">
        <li>Reflejo del mundo.</li>
        <li>Encanto púrpura.</li>
        <li>Flor de mil deseos.</li>
        <li>El cielo es el limite.</li>
        <li>Espejo efimero.</li>
        <li>Fuego floral.</li>
        <li>Euforia violeta.</li>
        <li>Doble visión.</li>
        <li>Reflejos del atardecer.</li>
        <li>Perspectiva urbana.</li>
    </ol>
    <br></br>
<!--Foto 1:-->
    <h2 style="color: gold;"><center>Reflejo del mundo.</center></h2>
    <img src="../Imagenes/Foto1.jpg" height="700" style="float: right;" >
    </p><p style="color: white;">
        Informacion de la foto:
    </p>
    <ul style="color: palegoldenrod;">
        <li>ISO: 50</li>
        <li>S: 1/140s</li>
        <li>F: 2.1</li>
        <li>EV: 0</li> 
        <li>Distancia focal: 131mm</li>
    </ul>
    <p style="color: white;">
        Descripción:
    </p>
    <p style="color: palegoldenrod;">
        Foto tomada el 15 de Julio de 2023 en el parque Simon Bolivar, esta foto fue tomada un dia 
        que fui con varios amigos a hacer un picnic en el parque Simon Bolivar y mientras mirabamos
        las nubes, tome la foto del ojo de mi amigo Leo.
    </p>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> 
<!--Foto 2:-->
    <h2 style="color: gold;"><center>Encanto púrpura.</center></h2>
    <img src="../Imagenes/Foto2.jpg" height="700" style="float: right;">
    </p><p style="color: white;">
        Informacion de la foto:
    </p>
    <ul style="color: palegoldenrod;">
        <li>ISO: 50</li>
        <li>S: 1/280s</li>
        <li>F: 2.1</li>
        <li>EV: 0</li> 
        <li>Distancia focal: 95mm</li>
    </ul>
    <p style="color: white;">
        Descripción:
    </p>
    <p style="color: palegoldenrod;">
        Foto tomada el 25 de Junio de 2023 en la casa de mi bisabuela, esta foto fue tomada un dia 
        justo despues de una pequeña llovisna y gracias a eso se ven unas pequeñas gotas de agua
        en los petalos de la flor, a su vez el todo el detalle de su centro.
    </p>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> 
<!--Foto 3:-->
    <h2 style="color: gold;"><center>Flor de mil deseos.</center></h2>
    <img src="../Imagenes/Foto3.jpg" height="700" style="float: right;">
    </p><p style="color: white;">
        Informacion de la foto:
    </p>
    <ul style="color: palegoldenrod;">
        <li>ISO: 50</li>
        <li>S: 1/132s</li>
        <li>F: 2.1</li>
        <li>EV: 0</li> 
        <li>Distancia focal: 95mm</li>
    </ul>
    <p style="color: white;">
        Descripción:
    </p>
    <p style="color: palegoldenrod;">
        Foto tomada el 1 de Septiembre de 2023 afuera del C.C. plaza claro, esta foto fue tomada 
        un dia que sali con mi pareja a tomar fotos porque estaba haciendo un hermoso atardecer,
        justo me encontre un diente de leon perfecto y lo fotografie.
    </p>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> 
<!--Foto 4:-->
    <h2 style="color: gold;"><center>El cielo es el limite.</center></h2>
    <img src="../Imagenes/Foto4.jpg" height="700" style="float: right;">
    </p><p style="color: white;">
        Informacion de la foto:
    </p>
    <ul style="color: palegoldenrod;">
        <li>ISO: 125</li>
        <li>S: 3.01s</li>
        <li>F: 2</li>
        <li>EV: 0</li> 
        <li>Distancia focal: 27mm</li>
    </ul>
    <p style="color: white;">
        Descripción:
    </p>
    <p style="color: palegoldenrod;">
        Foto tomada el 17 de Agosto de 2023 en mi casa, era uno noche super estrellada y sali a tomar 
        fotos de las estrellas y justo paso un avion que dejo ese caracteristico camino de luz
        en el cielo.
    </p>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> 
<!--Foto 5:-->
    <h2 style="color: gold;"><center>Espejo efimero.</center></h2>
    <img src="../Imagenes/Foto5.jpg" height="700" style="float: right;">
    </p><p style="color: white;">
        Informacion de la foto:
    </p>
    <ul style="color: palegoldenrod;">
        <li>ISO: 50</li>
        <li>S: 1/157s</li>
        <li>F: 2.1</li>
        <li>EV: 0</li> 
        <li>Distancia focal: 95mm</li>
    </ul>
    <p style="color: white;">
        Descripción:
    </p>
    <p style="color: palegoldenrod;">
        Foto tomada el 15 de Julio de 2023 en el Simon Bolivar, esta foto fue tomada al mismo 
        momento que fue tomada la foto del ojo, estabamos soplando burbujas en el parque y 
        justo una burbuja cayo en el pasto sin reventarse.
    </p>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> 
<!--Foto 6:-->
    <h2 style="color: gold;"><center>Fuego floral.</center></h2>
    <img src="../Imagenes/Foto6.jpg" height="700" style="float: right;">
    </p><p style="color: white;">
        Informacion de la foto:
    </p>
    <ul style="color: palegoldenrod;">
        <li>ISO: 50</li>
        <li>S: 1/393s</li>
        <li>F: 2.1</li>
        <li>EV: 0</li> 
        <li>Distancia focal: 95mm</li>
    </ul>
    <p style="color: white;">
        Descripción:
    </p>
    <p style="color: palegoldenrod;">
        Foto tomada el 28 de Julio de 2023 en la casa de un amigo, esta foto fue tomada unos pocos dias 
        despues de comprarme un nuevo celular porque me robaron el que tenia, me parecio que la mejor 
        forma de probarlo era tomando fotos de flores.
    </p>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> 
<!--Foto 7:-->
    <h2 style="color: gold;"><center>Euforia violeta.</center></h2>
    <img src="../Imagenes/Foto7.jpg" height="700" style="float: right;">
    </p><p style="color: white;">
        Informacion de la foto:
    </p>
    <ul style="color: palegoldenrod;">
        <li>ISO: 50</li>
        <li>S: 1/169s</li>
        <li>F: 2.1</li>
        <li>EV: 0</li> 
        <li>Distancia focal: 95mm</li>
    </ul>
    <p style="color: white;">
        Descripción:
    </p>
    <p style="color: palegoldenrod;">
        Foto tomada el 1 de Agosto de 2023 en Guatavita, esta foto fue tomada un fin de semana que fui 
        a acampar con mi suegra y su familia, mientras esperabamos que escampara para montar la carpa 
        vi esas flores y decidi tomarles una foto.
    </p>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> 
<!--Foto 8:-->
    <h2 style="color: gold;"><center>Doble vision.</center></h2>
    <img src="../Imagenes/Foto8.jpg" height="700" style="float: right;">
    </p><p style="color: white;">
        Informacion de la foto:
    </p>
    <ul style="color: palegoldenrod;">
        <li>ISO: 50</li>
        <li>S: 1/128s</li>
        <li>F: 2.1</li>
        <li>EV: 0</li> 
        <li>Distancia focal: 220mm</li>
    </ul>
    <p style="color: white;">
        Descripción:
    </p>
    <p style="color: palegoldenrod;">
        Foto tomada el 1 de Septiembre de 2023 afuera del C.C. Plaza Claro, esta foto fue tomada el 
        mismo dia de la del diente de leon, mientras tomaba la otra me fije que el reflejo del monte 
        se alineaba perfectamente en el vidrio del C.C.
    </p>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> 
<!--Foto 9:-->
    <h2 style="color: gold;"><center>Reflejos del atardecer.</center></h2>
    <img src="../Imagenes/Foto9.jpg" height="700" style="float: right;">
    </p><p style="color: white;">
        Informacion de la foto:
    </p>
    <ul style="color: palegoldenrod;">
        <li>ISO: 50</li>
        <li>S: 1/324s</li>
        <li>F: 2.1</li>
        <li>EV: 0</li> 
        <li>Distancia focal: 270mm</li>
    </ul>
    <p style="color: white;">
        Descripción:
    </p>
    <p style="color: palegoldenrod;">
        Foto tomada el 9 de Junio de 2023 en Santa Marta, esta foto fue tomada un dia antes de asistir 
        a un festival que me regalo mi pareja de cumpleaños, estuvimos todo el dia en la playa y el 
        atardecer se veia hermoso con el sol y los colores.
    </p>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> 
<!--Foto 10:-->
    <h2 style="color: gold;"><center>Perspectiva urbana.</center></h2>
    <img src="../Imagenes/Foto10.jpg" height="700" style="float: right;">
    </p><p style="color: white;">
        Informacion de la foto:
    </p>
    <ul style="color: palegoldenrod;">
        <li>ISO: 320</li>
        <li>S: 1/50s</li>
        <li>F: 2.1</li>
        <li>EV: 0</li> 
        <li>Distancia focal: 95mm</li>
    </ul>
    <p style="color: white;">
        Descripción:
    </p>
    <p style="color: palegoldenrod;">
        Foto tomada el 24 de Agosto de 2023 en el centro, esta foto fue un dia que estaba yendo al 
        trasmi para volver a mi casa y justo vi que se veia monserrate y los niveles de luz combinaban 
        perfectamente para el momento del dia.
    </p>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <br> <br> <br> 
    <h1 style="color: gold;"><center>Otras paginas:</center></h1>
    <h2 style="color: palegoldenrod;"><a href="../Inicio.html">Inicio</a></h2>
    <h2 style="color: palegoldenrod;"><a href="../Views/Pagina 2 (Star Wars).html" target="_blank">Star Wars</a></h2>
    <h2 style="color: palegoldenrod;"><a href="../Views/Pagina 3 (Horario).html" target="_blank">Horario</a></h2>
</body>
</html>