<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<link rel="icon", href="../Imagenes/lightsaber.png">
<title>
Orden cronologico de Star Wars
</title>
</head>
<body>
    <h1><center>Orden cronologico para ver Star Wars</center></h1>
    <ol>
        <li>Tales of the Jedi Cap 1,2 y 3</li>
        <li>Episodio I, Amenaza Fantasma</li>
        <li>Tales of the Jedi Cap 4</li>
        <li>Episodio II, El ataque de los clones</li>
        <li>Clone Wars la pelicula</li>
        <li>Clone Wars Temporada 1, 2, 3, 4, 5 y 6</li>
        <li>Clone Wars Capitulo 1, 2, 3, 4, 5, 6 y 7 de la temporada 7</li>
        <li>Episodio III, La venganza de los Sith</li>
        <li>Clone Wars ultimos capitulos de la 7ma temporada</li>
        <li>Tales of the Jedi Cap 5 y 6</li>
        <li>Bad Patch</li>
        <li>Solo</li>
        <li>Obi Wan Kenobi</li>
        <li>Andor</li>
        <li>Rebels</li>
        <li>Rogue One</li>
        <li>Episodio IV, Una nueva esperanza</li>
        <li>Episodio V, El imperio contraataca</li>
        <li>Episodio VI, El retorno del Jedi</li>
        <li>The Mandalorian Temporada 1 y 2</li>
        <li>El libro de Boba Fett</li>
        <li>The Mandalorian Temporada 3</li>
        <li>Ahsoka</li>
        <li>Episodio VII, El despertar de la fuerza</li>
        <li>Episodio VIII, Los ultimos Jedi</li>
        <li>Episodio IX, El ascenso de Skywalker</li>
    </ol>
    <br>
    <h1>Tales of the Jedi Cap 1,2 y 3</h1>
    <img src="../Imagenes/T.jpg" height="400">
    <br>
    <h1>Episodio I, Amenaza Fantasma</h1>
    <img src="../Imagenes/I.jpg" height="400">
    <br>
    <h1>Tales of the Jedi Cap 4</h1>
    <img src="../Imagenes/T.jpg" height="400">
    <br>
    <h1>Episodio II, El ataque de los clones</h1>
    <img src="../Imagenes/II.jpg" height="400">
    <br>
    <h1>Clone Wars la pelicula</h1>
    <img src="../Imagenes/CWP.jpg" height="400">
    <br>
    <h1>Clone Wars Temporada 1, 2, 3, 4, 5 y 6</h1>
    <img src="../Imagenes/CW.jpg" height="400">
    <br>
    <h1>Clone Wars Capitulo 1, 2, 3, 4, 5, 6 y 7 de la temporada 7</h1>
    <img src="../Imagenes/CW.jpg" height="400">
    <br>
    <h1>Episodio III, La venganza de los Sith</h1>
    <img src="../Imagenes/III.jpg" height="400">
    <br>
    <h1>Clone Wars ultimos capitulos de la 7ma temporada</h1>
    <img src="../Imagenes/CW.jpg" height="400">
    <br>
    <h1>Tales of the Jedi Cap 5 y 6</h1>
    <img src="../Imagenes/T.jpg" height="400">
    <br>
    <h1>Bad Batch</h1>
    <img src="../Imagenes/BP.jpg" height="400">
    <br>
    <h1>Solo</h1>
    <img src="../Imagenes/S.jpg" height="400">
    <br>
    <h1>Obi Wan Kenobi</h1>
    <img src="../Imagenes/OK.jpg" height="400">
    <br>
    <h1>Andor</h1>
    <img src="../Imagenes/A.jpg" height="400">
    <br>
    <h1>Rebels</h1>
    <img src="../Imagenes/R.jpg" height="400">
    <br>
    <h1>Rogue One</h1>
    <img src="../Imagenes/RO.jpg" height="400">
    <br>
    <h1>Episodio IV, Una nueva esperanza</h1>
    <img src="../Imagenes/IV.jpg" height="400">
    <br>
    <h1>Episodio V, El imperio contraataca</h1>
    <img src="../Imagenes/V.jpg" height="400">
    <br>
    <h1>Episodio VI, El retorno del Jedi</h1>
    <img src="../Imagenes/VI.jpg" height="400">
    <br>
    <h1>The Mandalorian Temporada 1 y 2</h1>
    <img src="../Imagenes/M.jpg" height="400">
    <br>
    <h1>El libro de Boba Fett</h1>
    <img src="../Imagenes/BF.jpg" height="400">
    <br>
    <h1>The Mandalorian Temporada 3</h1>
    <img src="../Imagenes/M.jpg" height="400">
    <br>
    <h1>Ahsoka</h1>
    <img src="../Imagenes/AS.jpg" height="400">
    <br>
    <h1>Episodio VII, El despertar de la fuerza</h1>
    <img src="../Imagenes/VII.jpg" height="400">
    <br>
    <h1>Episodio VII, El despertar de la fuerza</h1>
    <img src="../Imagenes/VIII.jpg" height="400">
    <br>
    <h1>Episodio IX, El ascenso de Skywalker</h1>
    <img src="../Imagenes/IX.jpg" height="400">
    <h1><center>Otras paginas:</center></h1>
    <h2><a href="../Inicio.html">Inicio</a></h2>
    <h2><a href="../Views/Pagina 1 (Fotos).html" target="_blank">Fotos Mias</a></h2>
    <h2><a href="../Views/Pagina 3 (Horario).html" target="_blank">Horario</a></h2>
</body>
</html>