<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon", href="../Imagenes/checklist.png">
    <title>Quiz 1</title>
</head>
<body>
    <h1><center>Quiz 1</center></h1>
    <center>
        <table border="2">
        
            <caption> Stop </caption>
                <tr style="border: 3;">
                    <th>L</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cosa</th>
                    <th>Color</th>
                    <th>Ciudad</th>
                    <th>Atributo html</th> 
                    <th>Total</th>
                </tr>
                <tr>
                    <td><center>V</center></td>
                    <td><center>Violeta</center></td>
                    <td><center>Villamil</center></td>
                    <td><img src="../Imagenes/cow.png" height="200"></td>
                    <td style="background-color:violet"></td>
                    <td><center>venecia</center></td>
                    <td><em><u><center>value</center></u></em></td> 
                    <td><center>1</center></td>
                </tr>
                <tr>
                    <td><center>D</center></td>
                    <td><center>Danillo</center></td>
                    <td><center>Duran</center></td>
                    <td><img src="../Imagenes/money-bag.png" height="200"></td>
                    <td style="background-color:gold"></td>
                    <td><center>dinamarca</center></td>
                    <td><em><u><center>draggable</center></u></em></td> 
                    <td><center>1</center></td>
                </tr>
                <tr>
                    <td><center>U</center></td>
                    <td><center>Uriceles</center></td>
                    <td><center>Ubina</center></td>
                    <td><img src="../Imagenes/unity.png" height="200"></td>
                    <td style="background-color:rgb(18, 10, 143)"></td>
                    <td><center>ucrania</center></td>
                    <td><em><u><center>usemap</center></u></em></td> 
                    <td><center>1</center></td>
                </tr>
                <tr>
                    <td><center>X</center></td>
                    <td><center>Xavier</center></td>
                    <td><center>Xiang</center></td>
                    <td><img src="../Imagenes/xylophone-instrument.png" height="200"></td>
                    <td style="background-color:rgb(233, 137, 126)"></td>
                    <td><center>xile</center></td>
                    <td><em><u><center>xml</center></u></em></td> 
                    <td><center>1</center></td>
                </tr>
                <tr>
                    <td><center>R</center></td>
                    <td><center>Ramon</center></td>
                    <td><center>Rodriguez</center></td>
                    <td><img src="../Imagenes/bet.png" height="200"></td>
                    <td style="background-color:rgb(227, 37, 107)"></td>
                    <td><center>rusia</center></td>
                    <td><em><u><center>ruby</center></u></em></td> 
                    <td><center>1</center></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td> 
                    <td><center>5</center></td>
                </tr>
</body>
</body>
</html>