@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
h1 {
    color:rgb(58,153,141);
    font-weight:600;
    font-size: 20pt;
    text-align: center;
}

h2 {
    color:rgb(58,153,141);
    font-weight:500;
    font-size: 18pt;
    text-align: right;
}
h3 {
    font-weight: 400;
    font-size: 14pt;
    text-align: center;
}
h5 {
    text-align: right;
}
p {
    text-align: justify;

}
ul {
    text-align: center;
    color:rgb(58,153,141);
    font-size: 20pt;
    font-weight: 600;
    list-style-image:url("../Imagenes/vector-cartoon-flower.jpg");
    list-style-position: inside;
}
li {
    text-align: left;
    color:black;
    font-size: 14pt;
    font-weight: 200;
}
.fabulatable{
    width: 800px;
    border: 4px solid;
    border-color: black;
    border-collapse: collapse;

}
.fabulath{
    height: 50px;
    background-color:rgb(58,153,141);
    border: 4px solid;
    border-color: black;
    color: white;
    font-size: 14pt;
}
.fabulatd{
    background-color:white;
    border: 4px solid;
    border-color: black;
    text-align: left;
}
.esopotable {
    width: 1100px;
    border: 5px dashed;
    border-color: yellow;
    background-color: rgb(13, 83, 91);
    margin: auto;
}
.esopotitulo {
    height: 80px;
    width: 100px;
    font-size: 24pt;
    text-align: left;
    color: white;
    text-indent: 35px;
    font-family: 'Times New Roman', Times, serif;
}
.esopomarco {
    height: 50px;
    width: 180px;
}
.esopoimg {
    text-align: left;
    color: white;
    text-indent: 35px;
}
.esopotexto {
    text-align: left;
    color: white;
    font-size: 12pt;
    font-weight: 0;
    font-family:'Times New Roman', Times, serif;
}
a:hover {
    color: red;
    background-color: black;
}
a:link {
    color: yellow;
}
a:visited {
    color: yellow;
}